.trip {
  width: 100%;
  min-height: 304px;
  //margin: 0 auto;
  background-color: $site-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .trip-container {
    width: 944px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    //background-color: chocolate;

    p {
      font-size: 30px;
      color: $site-white;
      font-family: sans-serif;
      font-weight: 400;
      text-decoration: none;
      margin-left: 30px;
      margin-top: -25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .israel {
      width: 236px;
      height: 304px;
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(
          to right,
          rgba($site-black, 0.4),
          rgba($site-black, 0.4)
        ),
        url("../images/tour/tour-01.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      h1 {
        font-size: 60px;
        color: $site-white;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 400;
        margin-left: 15px;
        margin-top: 25px;
        text-transform: uppercase;
      }
    }

    .usa {
      width: 236px;
      height: 304px;
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(
          to right,
          rgba($site-black, 0.4),
          rgba($site-black, 0.4)
        ),
        url("../images/tour/tour-02.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      h1 {
        font-size: 60px;
        color: $site-white;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 400;
        margin-left: 15px;
        margin-top: 25px;
      }
    }
    .australia {
      width: 236px;
      height: 304px;
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(
          to right,
          rgba($site-black, 0.4),
          rgba($site-black, 0.4)
        ),
        url("../images/tour/tour-03.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      h1 {
        font-size: 60px;
        color: $site-white;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 400;
        margin-left: 15px;
        margin-top: 25px;
      }
    }
    .site-button {
      padding: 10px 25px;
      background-color: $site-blue;
      text-decoration: none;
      color: $site-white;
      margin-left: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .trip-container {
    //max-height: 120%;
    flex-direction: column;
    //max-width: 100%;

    div {
      margin: 80px;
    }
  }
}
