.hero-footer {
  max-width: 100%;
  min-height: 110px;
  background-color: $site-blue;
  //margin-top: 360px;
  .footer {
    height: 100%;
    max-width: 956px;
    padding-top: 30px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //background-color: chartreuse;

    .logo {
      width: 100%;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      //border: 2px solid $site-white;
    }
    .social {
      font-size: 22px;
      width: 23px;
      height: 23px;
      color: $site-white;
      display: flex;
      // justify-content: space-around;

      //border: 2px solid $site-white;
    }
    .social img {
      width: 25px;
      margin-left: 10px;
      margin-right: 10px;
    }
    span {
      font-size: 12px;

      font-weight: 200;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: $site-white;
    }
    p {
      font-size: 12px;
      width: 800px;
      text-align: center;
      font-family: sans-serif;
      color: $site-white;
      margin-right: 250px;
      display: flex;
      flex-direction: column;
      //align-items: center;
      //justify-content: space-between;
    }
  }
}
